<div class="workspace">
    <div class="article-wrap">
        <div class="article">
            <div class="article-head">
                <div class="left floated tools"><a class="item icon"><i class="icon align justify"></i></a></div>
                <div class="right floated tools"></div>
                <h1>自动加载</h1></div>
            <div class="article-body"><!-- react-empty: 905 -->
            </div>
            <div class="article-navigation"><span class="prev"><!-- react-text: 1259 -->上一篇：<!-- /react-text --><a
                    href="1700">命名空间</a></span><span class="next"><!-- react-text: 964 -->下一篇：<!-- /react-text --><a
                    href="1702">应用模式</a></span></div>
            <div class="article-comment"><h3 class="ui header dividing">相关问题</h3>

            </div>
        </div>
    </div>
</div>